<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />


<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <a href="/" class="navbar-item"> Home </a>
    <a href="/order" class="navbar-item"> Order </a>
    <a href="/signOut" class="navbar-item"> Sign Out</a>
  </div>
</nav>
