<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" /> -->

<nav>
  <a href="/"> Home </a>
  <br>
  <a href="/product"> Product </a>
  <br>
  <a href="/order"> Order </a>
  <br>
  <a href="/signOut"> Sign Out</a>
</nav>
