<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
  </head>
  <body>
    <% include ./partials/navbar %>
    <h1>Sabtu POS</h1>
    <h2>Log In</h2>
    <form action="/" method="POST">
      username: <input type="text" name="username"><br>
      password: <input type="password" name="password"><br>
      <input type="submit" value="Submit">
    </form>
    <br><br>
  </body>
</html>
