<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <style>
    .box{
  	width:100px;
  	height:100px;
    color: white;
    }
    .red{
  	background:#f00;
    }
    .blue{
    background:#0000FF;
    }
    </style>
  </head>
  <body>
    <p id="demo"></p>
    <script>
    document.getElementById("demo").innerHTML = Date();
    </script>
      <h1>Selamat Datang, <%= row.firstName %> <%= row.lastName %></h1>
      <table>
  <tr>
    <th class="box red"><a href="/user/<%=row.id%>/listUser">Add/Edit User</a></th>
    <th class="box blue"><a href="/product/<%=row.id%>/listProduct">Add/Edit Item</a></th>
  </tr>
</table>


    </form>
  </body>
</html>
